<div class="preloader">
  <div class="preloader__content">
    <svg xmlns="http://www.w3.org/2000/svg" class="preloader__svg" viewBox="0 0 300 300">
      <g fill="none" fill-rule="evenodd">
        <circle cx="150" cy="150.443" r="143.5" class="svg-stroke--figure" stroke-width="7"/>
        <path class="svg-fill--figure" d="M238.0957,121.5002 C245.2937,121.5002 251.1867,123.4632 255.6347,127.2822 C260.0887,131.0792 262.3137,136.3372 262.3137,142.9032 C262.3137,149.4712 260.0887,154.7292 255.6347,158.5272 C251.1867,162.3442 245.2937,164.3082 238.0957,164.3082 L222.4497,164.3082 L212.6987,164.3082 L205.3667,164.3082 L205.3667,175.5362 L212.7337,191.0722 C212.8207,191.2482 212.8967,191.4092 212.9587,191.5582 L212.9587,170.5912 L238.4877,170.5912 C247.6517,170.5912 255.1137,168.1052 261.0057,163.1282 C266.8957,158.1332 269.7757,151.3042 269.7757,142.7742 C269.7757,134.2422 266.8957,127.4132 261.0057,122.4172 C255.1137,117.4412 247.5207,114.9562 238.2267,114.9562 L206.4137,114.9562 C205.7587,114.9562 205.3667,115.3492 205.3667,116.0012 L205.3667,121.5832 L222.1097,121.5832 L238.0957,121.5002 Z"/>
        <path class="svg-fill--accent" d="M167.3876,192.5837 C167.6726,193.1167 168.1756,193.4287 168.9936,193.4287 L174.4926,193.4287 C175.0176,193.4287 175.2796,193.1667 175.2796,192.6437 C175.2796,192.3827 175.1486,191.8577 174.7536,191.0717 L138.6236,114.8827 L136.5296,114.8827 L120.0346,150.5497 L123.7596,158.8297 L137.9696,128.1037 L167.3876,192.5837 Z M174.5086,114.8827 L176.6026,114.8827 L182.8736,128.1037 L212.7336,191.0717 C213.1276,191.8577 213.2586,192.3827 213.2586,192.6437 C213.2586,193.1667 212.9966,193.4287 212.4726,193.4287 L206.9746,193.4287 C206.1556,193.4287 205.6526,193.1167 205.3666,192.5837 L182.5146,142.4957 L182.5176,142.4957 L175.9506,128.1037 L175.9476,128.1037 L168.3126,128.1037 L174.5086,114.8827 Z"/>
        <path class="svg-fill--figure" d="M69.4175,194.2159 L67.3615,194.2159 L67.3235,194.2159 L31.1935,118.0239 C30.7995,117.2399 30.6685,116.7149 30.6685,116.4529 C30.6685,115.9289 30.9295,115.6689 31.4545,115.6689 L36.9505,115.6689 C37.7695,115.6689 38.2735,115.9799 38.5595,116.5119 L67.9775,180.9919 L68.0155,180.9919 L75.6535,180.9919 L69.4555,194.2159 L69.4175,194.2159 Z M105.9205,181.0059 L76.5295,116.5839 C76.2455,116.0529 75.7425,115.7409 74.9235,115.7409 L69.4315,115.7409 C68.9065,115.7409 68.6465,115.9999 68.6465,116.5249 C68.6465,116.7859 68.7765,117.3099 69.1695,118.0949 L105.2685,194.2159 L107.3605,194.2159 L123.8535,159.0369 L120.0155,150.5049 L105.9205,181.0059 Z"/>
      </g>
    </svg>

  </div>
</div>