<div class="product-section-tabs__dimensions wmp-dimensions" data-product-dimensions>
    <div class="wmp-dimensions-front">
        {% render 'product-dimensions-front' %}
    </div>
    <div class="wmp-dimensions-side">
        {% render 'product-dimensions-side' %}
    </div>
</div>