<div class="product-grid-item-placeholder {{ extra_classes }}"
     data-product-grid-item-placeholder>
  <div class="product-grid-item-placeholder__media mt4 mb2"
       style="padding-top: {{ 1 | divided_by: pgi_media_aspect_ratio | times: 100 }}%">
  </div>
  <div class="product-grid-item-placeholder__swatches mb2 md-dn--mt2"></div>
  <div class="product-grid-item-placeholder__info mb2 lg--mt1"></div>
  <div class="product-grid-item-placeholder__label"></div>
  <div class="product-grid-item-placeholder__stars mb2"></div>
  <div class="product-grid-item-placeholder__actions mb2 lg--mt2"></div>
</div>