<svg width="100%" viewBox="0 0 420 229" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 49.3 (51167) - http://www.bohemiancoding.com/sketch -->
  <title>Front@2x</title>
  <desc>Created with Sketch.</desc>
  <defs></defs>
  <g id="Front" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="Group" transform="translate(61.000000, 12.000000)">
          <g id="Drawing" transform="translate(0.000000, 56.000000)" fill="#000000">
              <g id="Group-7" transform="translate(0.000000, 0.468100)">
                  <path d="M270.5,53.7144 C268.5,63.2144 264.438,78.9814 256.083,83.9644 C246.583,89.6314 227.75,92.7144 212,90.7144 C196.25,88.7144 185.75,82.7144 179.5,70.9644 C174.441,61.4564 167,33.7144 172,24.2144 C177,14.7144 203.5,11.4644 215.75,10.7144 C231.986,9.7204 256.5,10.2144 266.25,16.9644 C276,23.7144 272.5,44.2144 270.5,53.7144 M116.5,70.9644 C110.25,82.7144 99.75,88.7144 84,90.7144 C68.25,92.7144 49.417,89.6314 39.917,83.9644 C31.563,78.9814 27.5,63.2144 25.5,53.7144 C23.5,44.2144 20,23.7144 29.75,16.9644 C39.5,10.2144 64.014,9.7204 80.25,10.7144 C92.5,11.4644 119,14.7144 124,24.2144 C129,33.7144 121.559,61.4564 116.5,70.9644 M175.75,8.4644 C167.032,11.3394 156.75,13.8100861 148,13.8100861 C139.25,13.8100861 128.968,11.3394 120.25,8.4644 C96.75,0.7144 37.5,-4.2856 0,7.7144 L1.125,28.4644 C1.125,28.4644 7.938,26.9644 10.188,34.4644 C12.438,41.9644 17.663,72.8844 27.219,84.9644 C39.084,99.9644 64.637,100.5414 81.916,99.7984 C105.182,98.7984 120.416,88.4644 126.916,70.9644 C133.416,53.4644 137.084,38.4644 141.246,33.7144 C143.492,31.1524 146.024,30.9694 148,30.9654 C149.976,30.9694 152.508,31.1524 154.754,33.7144 C158.916,38.4644 162.584,53.4644 169.084,70.9644 C175.584,88.4644 190.818,98.7984 214.084,99.7984 C231.363,100.5414 256.916,99.9644 268.781,84.9644 C278.337,72.8844 283.563,41.9644 285.813,34.4644 C288.063,26.9644 294.875,28.4644 294.875,28.4644 L296,7.7144 C258.5,-4.2856 199.25,0.7144 175.75,8.4644 Z" id="Fill-5"></path>
              </g>
          </g>
          <g id="Dimension-line" transform="translate(167.000000, 25.000000)">
              <g transform="translate(0.000000, -2.000000)">
                  <path d="M2.42647059,3.5 L128.602941,3.5" id="Dimension-line-2" stroke="#DCDCDC" stroke-linecap="square" stroke-dasharray="1"></path>
                  <g id="Arrowhead" transform="translate(-0.117647, 0.000000)" fill="#DCDCDC">
                      <polygon id="Triangle" points="0 3.5 8 0 8 7"></polygon>
                  </g>
                  <g id="Arrowhead" transform="translate(128.117647, 3.500000) rotate(-180.000000) translate(-128.117647, -3.500000) translate(124.117647, 0.000000)" fill="#DCDCDC">
                      <polygon id="Triangle" points="0 3.5 8 0 8 7"></polygon>
                  </g>
              </g>
          </g>
          <g id="Dimension-line" transform="translate(0.000000, 185.000000)">
              <g transform="translate(0.000000, -2.000000)">
                  <path d="M5.49632353,3.5 L291.305147,3.5" id="Dimension-line-2" stroke="#DCDCDC" stroke-linecap="square" stroke-dasharray="1"></path>
                  <g id="Arrowhead" transform="translate(4.794118, 0.000000)" fill="#DCDCDC">
                      <polygon id="Triangle" points="0 3.5 8 0 8 7"></polygon>
                  </g>
                  <g id="Arrowhead" transform="translate(290.205882, 3.500000) rotate(-180.000000) translate(-290.205882, -3.500000) translate(286.205882, 0.000000)" fill="#DCDCDC">
                      <polygon id="Triangle" points="0 3.5 8 0 8 7"></polygon>
                  </g>
              </g>
          </g>
          <text id="width" font-family="WorkSans-Medium, Work Sans" font-size="13" font-weight="400" fill="#464F5A">
              <tspan x="119" y="212">135 mm</tspan>
          </text>
          <text id="lens" font-family="WorkSans-Medium, Work Sans" font-size="13" font-weight="400" fill="#464F5A">
              <tspan x="209.1855" y="12">50 mm</tspan>
          </text>
          <g id="bridge" transform="translate(126.000000, 0.000000)">
              <g id="bridge-line" transform="translate(1.000000, 23.000000)">
                  <path d="M4.11832061,3.5 L34.8816794,3.5" id="Dimension-line-2" stroke="#DCDCDC" stroke-linecap="square" stroke-dasharray="1"></path>
                  <g id="Arrowhead" fill="#DCDCDC">
                      <polygon id="Triangle" points="0 3.5 8 0 8 7"></polygon>
                  </g>
                  <g id="Arrowhead" transform="translate(36.000000, 3.500000) rotate(-180.000000) translate(-36.000000, -3.500000) translate(32.000000, 0.000000)" fill="#DCDCDC">
                      <polygon id="Triangle" points="0 3.5 8 0 8 7"></polygon>
                  </g>
              </g>
              <text id="bridge-text" font-family="WorkSans-Medium, Work Sans" font-size="13" font-weight="400" fill="#464F5A">
                  <tspan x="0.4585" y="12">35 mm</tspan>
              </text>
          </g>
      </g>
      <g id="front-height" transform="translate(116.000000, 80.000000)">
          <g id="front-height-line" transform="translate(4.500000, 38.500000) rotate(-270.000000) translate(-4.500000, -38.500000) translate(-34.000000, 34.000000)">
              <g id="Dimension-line" transform="translate(0.000000, 0.333333)">
                  <path d="M3.33272059,4.16666667 L72.6341912,4.16666667" id="Dimension-line-2" stroke="#DCDCDC" stroke-linecap="square" stroke-dasharray="1"></path>
                  <g id="Arrowhead" transform="translate(0.132353, 0.666667)" fill="#DCDCDC">
                      <polygon id="Triangle" points="0 3.5 8 0 8 7"></polygon>
                  </g>
                  <g id="Arrowhead" transform="translate(72.367647, 4.166667) rotate(-180.000000) translate(-72.367647, -4.166667) translate(68.367647, 0.666667)" fill="#DCDCDC">
                      <polygon id="Triangle" points="0 3.5 8 0 8 7"></polygon>
                  </g>
              </g>
          </g>
          <text id="front-height-text" font-family="WorkSans-Medium, Work Sans" font-size="13" font-weight="400" fill="#464F5A">
              <tspan x="11.1855" y="40">50 mm</tspan>
          </text>
      </g>
  </g>
</svg>