<div class="desktop-header__top-row" data-section-id="{{ section.id }}" data-section-type="desktop-header">
  <div class="desktop-header__tools">
    <button class="btn--plain desktop-header__icon desktop-header__icon--cart desktop-header__icon--cart--bigger"
      data-cart-toggle>
      <span class="material-icons custom-icon-shopping_basket"></span>
      <span class="desktop-header-cart-icon__count desktop-header-cart-icon__count--bigger ff--body cart-bubble">{{
        cart.item_count }}</span>
    </button>
  </div>
</div>