<div id="section_content">
  <ul class="megamenu-brand site-nav-megamenu-image-links site-nav-megamenu__image-links brand-test">
    {% for child_link in linklists.brand.links %}
    {% if forloop.index <= 4 %}
    <li class="site-nav-megamenu-image-links__item site-nav-megamenu-image-link">
      <a href="{{ child_link.url }}">
        <div class="site-nav-megamenu-image-link__title">
          {{ child_link.title }}
        </div>
        {% assign image_address = 'megamenu_brand_image_' | append: forloop.index %}
        {% assign the_image = settings[image_address] %}

        <div class="site-nav-megamenu-image-link__image">
          {% include 'responsive-image', image: the_image, crop_209: '209' %}
        </div>
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>