<div class="mobile-header-and-nav-wrapper" data-section-id="{{ section.id }}" data-section-type="mobile-header-and-nav">
  <div class="mobile-header-and-nav">
    <div class="mobile-header-and-nav__item mobile-header__tools">
      <button class="btn--plain mobile-header__icon mobile-header__icon--cart mobile-header__icon--cart--bigger"
        data-cart-toggle>
        <span class="material-icons custom-icon-shopping_basket"></span>
        <span class="mobile-header-cart-icon__count ff--body cart-bubble">
          {{ cart.item_count }}
        </span>
      </button>
    </div>
  </div>
</div>