<!-- section/related-products.liquid -->
{% if template != 'product.landing' %}
<section class="related-products-container mt6 md-dn--mt5 mb4"
         data-section-id="{{ section.id }}"
         data-section-type="related-products">
  {% assign pgi_media_aspect_ratio = 2.3 %}
  <h2 class="f2 pt6 md-dn--f3 mt0 mb3 fw--bold uppercase text-left md-dn--text-center h-underline h-underline--tight--mb0">
    {{ 'products.product.related_products' | t }}
  </h2>
  <div class="related-products mxn2"
      data-enable-bis="true"
      data-product-listing
      data-related-products="all">
      {% for i in (1..4) %}
        {% assign extra_classes = 'mx2 pt1' %}
        {% if forloop.index > 1 %}
          {% assign extra_classes = extra_classes | append: ' md-dn--hide' %}
        {% endif %}
        {% render 'product-grid-item-placeholder',
            pgi_media_aspect_ratio: pgi_media_aspect_ratio,
            extra_classes: extra_classes
        %}
      {% endfor %}
  </div>
</section>
{% endif %}