<section class="with-padding mb6 text-center">
  <h2 class="f2 uppercase text-center h-underline">{{ '404.title' | t }}</h2>
  <p>{{ '404.subtext' | t }} </p>
  <p class="my5">
    <a href="{{ routes.all_products_collection_url }}"
       class="btn btn--color-secondary ff--heading uppercase ls03 fw--bold">
      {{ '404.link' | t }}
    </a>
  </p>
</section>
