<div class="eco-pages">
    {% section 'welcome-box' %}
    {% section 'text-and-image' %}
    {% section 'collection-featured-eco' %}
    {% section 'features-section' %}
    {% section 'before-after-slider' %}
    {% section 'showcase-eco' %}
</div>